.rodape {
  background-color: var(--texto);
  padding: 1em;
  color: var(--cor-primaria);
}

ul {
  padding: 0.2rem;
}

.lista-rodape__titulo {
  padding-bottom: 0.5em;
  font-size: 22px;
}

.lista-rodape__item {
  display: flex;
  padding-bottom: 1em;
}

.lista-rodape__item img {
  height: 32px;
  padding-right: 0.5em;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--cor-secundaria);
  font-weight: 500;
  padding: 0.3em;
}

.lista-rodape__item a:hover {
  color: var(--cor-de-fundo);
}

.lista-rodape__item p {
  color: var(--cor-primaria);
}

.mapa iframe {
  display: grid;
  justify-content: center;
  margin: 5px;
  width: 95%;
}

.lista-rodape__item-observacao {
  font-size: 12px;
}

.rodape__desenvolvido {
  font-size: 17px;
  text-align: center;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  hr {
    border: 1px solid var(--cor-secundaria);
  }

  .rodape {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px 30px 0px 30px;
    justify-content: space-between;
  }

  .rodape__coluna {
    flex: 1;
    min-width: 0;
  }

  .rodape__coluna ul {
    width: 100%;
  }

  .rodape-dev {
    width: 100%;
    text-align: center;
    order: 1;
  }
}
