.menu__produtos {
  display: flex;
  flex-direction: column; /* Exibe as colunas em uma única coluna por padrão */
  align-items: center;
  padding: 1em;
}

.menu__produtos > div {
  width: 100%; /* Cada coluna ocupa toda a largura disponível */
  margin-bottom: 1em; /* Espaço entre as colunas */
}

.menu__produtos label {
  display: block;
  margin-bottom: 0.5em; /* Espaço entre o label e o select */
  font-size: 18px;
}

select {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid var(--texto);
  background-color: var(--texto);
  width: 100%; /* O select ocupa toda a largura disponível */
  font-size: 20px;
  cursor: pointer;
}

select:focus {
  border-color: var(--cor-secundaria);
}

.mensagem__menu-produtos,
.mensagem__barra-pesquisa {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 1em;
}

@media screen and (min-width: 768px) {
  .menu__produtos {
    flex-direction: row;
    margin-left: 30px;
  }

  select {
    max-width: 50%;
    min-width: 70%;
  }
}
