@tailwind base;
@tailwind components;
@tailwind utilities;

/* Swiper navigation arrows */
.swiper-button-next,
.swiper-button-prev {
  color: #d9a76b !important;
}

/* Swiper pagination bullets */
.swiper-pagination-bullet {
  background: #d9a76b !important;
}
.swiper-pagination-bullet-active {
  background: #b7791f !important;
  opacity: 1;
}

.btn-dropdown,
.btn-filter {
  background-color: transparent !important;
  color: #000 !important;
  border: none;
  font-weight: 500;
  transition: background 0.2s;
}

.btn-dropdown {
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
}

.btn-filter:hover {
  background-color: #d9a76b !important;
}
