.cabecalho {
  background-color: var(--cor-de-fundo);
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 130px;
}

.container__titulo {
  /* margin: 30px 5px 0 40px; */
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
  white-space: nowrap;
}

h4 {
  position: absolute;
  left: 50%;
  top: 80px !important;
  width: 300px;
  transform: translateX(-50%);
  white-space: wrap !important;
  text-align: center;
  background: rgba(#050505, #050505, #050505, #050505.7);
  font-size: 17px;
}

.container__contato a,
.container__contato img {
  display: none;
}

.container__titulo-link {
  color: var(--texto);
  cursor: pointer;
}

.container__imagem-logo {
  margin: 10px 0 0 15px;
  height: 100px;
  width: 100px;
}

@media screen and (min-width: 768px) {
  .cabecalho {
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 150px;
  }

  .container__imagem-logo {
    width: 150px;
    height: 80%;
  }

  .container__contato {
    display: inline-block;
    padding-right: 10px;
  }

  h4 {
    transform: translateX(-50%);
    font-size: 22px;
    background: none;
    width: 400px;
    flex-wrap: wrap !important;
    text-align: auto;
  }

  .container__titulo {
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    white-space: nowrap;
  }
}

@media screen and (min-width: 1280px) {
  .container__titulo {
    left: calc(50% + 15px);
    transform: translateX(-50%);
  }

  h4 {
    left: 50% !important;
    width: 400px;
  }

  .container__contato {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
  }

  .container__contato p {
    margin: 0;
    color: var(--texto);
  }

  .container__contato a,
  .container__contato img {
    display: inline;
    text-decoration: none; /* Remove a sublinhado do link */
    white-space: nowrap; /* Impede a quebra de linha dentro do link */
  }
}
